# SPDX-License-Identifier: GPL-2.0-only
config CW1200
	tristate "CW1200 WLAN support"
	depends on MAC80211 && CFG80211
	depends on MMC
	help
	  This is a driver for the ST-E CW1100 & CW1200 WLAN chipsets.
	  This option just enables the driver core, see below for
	  specific bus support.
